- name: Add Module Repository
  ansible.builtin.deb822_repository:
    name: nvidia-container-toolkit
    uris: "https://nvidia.github.io/libnvidia-container/stable/deb/amd64"
    signed_by: "https://nvidia.github.io/libnvidia-container/gpgkey"
    suites: [/]
    state: present
    enabled: yes

- name: Check if nvidia-smi and docker are present
  shell: |
    docker --version >/dev/null 2>&1 && echo -n "d"
    nvidia-smi >/dev/null 2>&1 && echo -n "n"
  register: nvidia_smi
  changed_when: false
  failed_when: false

- name: Debug nvidia-smi check
  debug:
    msg: "nvidia-smi and docker presence: '{{ nvidia_smi.stdout }}'"

- name: Install NVIDIA Container Toolkit and dependencies at fixed version
  vars:
    nvidia_container_toolkit_version: "1.18.0-1"
  apt:
    name:
      - "nvidia-container-toolkit={{ nvidia_container_toolkit_version }}"
      - "nvidia-container-toolkit-base={{ nvidia_container_toolkit_version }}"
      - "libnvidia-container-tools={{ nvidia_container_toolkit_version }}"
      - "libnvidia-container1={{ nvidia_container_toolkit_version }}"
    state: present
    update_cache: yes
  when: "'dn' in nvidia_smi.stdout"
  register: nvidia_toolkit_result

- name: Configure NVIDIA runtime for Docker
  shell: nvidia-ctk runtime configure --runtime=docker; systemctl restart docker
  when: "'dn' in nvidia_smi.stdout and nvidia_toolkit_result is changed"
